@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,700&display=swap');

$primary-font: 'Barlow Condensed', sans-serif;

$primary-red: hsl(0, 100%, 68%);
$very-dark-blue: hsl(230, 29%, 20%);
$dark-grayish-blue: hsl(230, 11%, 40%);
$grayish-blue: hsl(231, 7%, 65%);
$light-grayish-blue: hsl(207, 33%, 95%);


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  font-size: 18px;
  font-weight: 400;
}

body {
  overflow-x: hidden;
  position: relative;
}

a {
  text-decoration: none;
  color: $primary-red;
}

ul {
  list-style-type: none;
}

.grid {
  display: grid;
}

.container {
  grid: "nav"
        "main" / auto;
  grid-row-gap: 2.5em;
}

.navbar {
  grid-area: nav;

  grid-template-columns: repeat(auto-fill, 150px);
  align-items: center;
  padding: 60px 0;

  .navbar__logo {
    grid-column: 2;
  }

  .navbar__links {
    grid-column: 6;
  }

  .navbar__mobile {
    display: none;
  }

  .navbar__list {
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
  }

  .navbar__list__li {
    padding: 0 20px;
  }

  .navbar__link {
    color: $very-dark-blue;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: text-decoration 1s ease-in;
    position: relative;

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 0%;
      content: '.';
      color: transparent;
      background: $very-dark-blue;
      height: 2px;
      transition: all .5s;
    }

    &:hover {
      &:after {
        width: 100%;
        transition: all .5s;
      }
    }

  }

  .navbar__link--grey {
    color:$grayish-blue;

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 0%;
      content: '.';
      color: transparent;
      background: $grayish-blue;
      height: 2px;
      transition: all .5s;
    }

    &:hover {
      &:after {
        width: 100%;
        transition: all .5s;
      }
    }

  }

  .navbar__link--dot {
    display: flex;
    align-content: center;
    background-color: $grayish-blue;
    border-radius: 6px;
    width: 6px;
    height: 6px;
    padding: 0;
    margin-top: 10px;
  }

}

.main {
  grid-area: main;
  grid-template-columns: repeat(auto-fill, 50px);
  // grid: ". content . image" / 150px auto 60px 690px;
  align-items: center;
  padding-bottom: 100px;

  .hero__content {
    font-family: $primary-font;
    grid-column: 4 / 13;
    grid-row-gap: 20px;
  }

  .hero__subtitle {
    color: $grayish-blue;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 17px;
  }

  .hero__span {
    text-align: center;
    background-color: $very-dark-blue;
    color: $light-grayish-blue;
    padding: 2px 10px;
    margin-right: 8px;
    border-radius: 10px;
    font-weight: bold;
  }

  .hero__title {
    color: $very-dark-blue;
    font-size: 3.3rem;
    text-transform: uppercase;
  }

  .hero__p {
    color: $dark-grayish-blue;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 25px;
  }

  .hero__buttons {
    margin-top: 1em;
  }

  .hero__button {
    cursor: pointer;
    border: none;
    background-color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 12px 18px;
  }

  .hero__button--red {
    color: #fff;
    background-color: $primary-red;
    border-radius: 5px;
    font-weight: 700;
    transition: opacity .5s;

    &:hover {
      opacity: 0.6;
    }

  }

  .hero__button--white {
    color: $grayish-blue;
    letter-spacing: 1px;
  }

  .hero__img {
    grid-column: 15 / end;
  }

  .figure__image {
    // width: 885px;
    width: 62vw;
  }

}

.square {
  position: absolute;
  width: 48vw;
  height: 500px;
  background-color: $light-grayish-blue;
  border-bottom-left-radius: 60px;
  top: 0;
  right: 0;
  z-index: -1;
}

@media (min-width: 360px) and (max-width: 575.98px) {

  .navbar {
    position: relative;
    grid-template-columns: repeat(auto-fill, 30px);
    padding: 40px 0;

    .navbar__list {
      display: none;
    }

    .navbar__list__li {
      width: 100%;
      text-align: center;
    }

    .navbar__list {
      opacity: 0;
      display: grid;
      position: absolute;
      grid-template-columns: 1fr;
      grid-row-gap: 20px;
      top: 100px;
      left: 30px;

      padding: 40px 0;

      background-color: #fff;
      box-shadow: 0px 8px 20px -2px rgb(105, 105, 105);
      width: 85vw;
      transition: opacity 350ms;
    }

    .navbar__list--active {
      opacity: 1;
      transition: opacity 350ms;
    }

    .navbar__link--dot {
      display: block;
      width: 100%;
      height: 1px;
      border-radius: none;
    }


    .navbar__mobile {
      display: block;
      cursor: pointer;
      position: relative;
      place-self: start;
      padding-top: 10px;
      grid-column: 11 / end;
    }

    .navbar__icon {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      transform: scale(0);
      transition: tranform 350ms ease-in;
    } 

    .navbar__icon--active {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
      transition: transform 350ms ease-in;
    }


  }

  .main {
    grid-template-columns: repeat(auto-fill, 25px);
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 70px;

    .hero__content {
      grid-column: 2 / 15;
      grid-row: 2;
      padding-top: 30px;
    }

    .hero__title {
      font-size: 2.3rem;
    }

    .hero__p {
      font-size: 1.1rem;
    }

    .hero__button {
      font-size: 0.6rem;
      padding: 1em 1.2em;
    }

    .hero__img {
      grid-column: 1 / end;
      grid-row: 1 / 2;
      padding-left: 0px;
    }

    .figure__image {
      width: 500px;
    }

  }

  .square {
    height: 485px;
  }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {

  .navbar {
    position: relative;
    grid-template-columns: repeat(auto-fill, 30px);
    padding: 40px 0;

    .navbar__logo {
      grid-column: 3;
    }

    .navbar__list {
      display: none;
    }

    .navbar__list__li {
      width: 100%;
      text-align: center;
    }

    .navbar__list {
      opacity: 0;
      display: grid;
      position: absolute;
      grid-template-columns: 1fr;
      grid-row-gap: 20px;
      top: 100px;
      left: 0;

      padding: 40px 0;
      margin: 0 60px;

      background-color: #fff;
      box-shadow: 0px 8px 20px -2px rgb(105, 105, 105);
      width: 78vw;
      transition: opacity 350ms;
    }

    .navbar__list--active {
      opacity: 1;
      transition: opacity 350ms;
    }

    .navbar__link--dot {
      display: block;
      width: 100%;
      height: 1px;
      border-radius: none;
    }


    .navbar__mobile {
      display: block;
      cursor: pointer;
      position: relative;
      place-self: start;
      padding-top: 10px;
      grid-column: 17 / end;
    }

    .navbar__icon {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      transform: scale(0);
      transition: tranform 350ms ease-in;
    } 

    .navbar__icon--active {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
      transition: transform 350ms ease-in;
    }


  }

  .main {
    grid-template-columns: repeat(auto-fill, 30px);
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 70px;

    .hero__content {
      grid-column: 3 / 19;
      grid-row: 2;
      padding-top: 30px;
    }

    .hero__title {
      font-size: 3rem;
    }

    .hero__p {
      font-size: 1.5rem;
      line-height: 40px;
    }

    .hero__button {
      font-size: 0.8rem;
      padding: 0.9em 1.2em;
    }

    .hero__img {
      grid-column: 2 / end;
      grid-row: 1 / 2;
      padding-left: 0px;
    }

    .figure__image {
      width: 110vw;
    }

  }

  .square {
    height: 53vh;
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 

  .navbar {
    grid-template-columns: repeat(auto-fill, 50px);

    .navbar__logo {
      grid-column: 3;
    }

    .navbar__links {
      grid-column: 9 /end;
    }

    .navbar__list {
      grid-template-columns: repeat(3, 70px) 30px 70px;
    }

    .navbar__link {
      font-size: 0.8rem;
    }

  }

  .main {

    grid-template-rows: repeat(2, auto);
    grid-row-gap: 5em;

    .hero__content {
      grid-column: 3 / 14;
      grid-row: 2;
      grid-row-gap: 18px;
    }

    .hero__img {
      grid-column: 3 / end;
      grid-row: 1;
    }

    .figure__image {
      width: 75vw;
    }
  }

  .square {
    width: 52vw;
    height: 50vh;
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 

  .navbar {
    grid-template-columns: repeat(auto-fill, 50px);

    .navbar__logo {
      grid-column: 3;
    }

    .navbar__links {
      grid-column: 13 /21;
    }

    .navbar__list {
      grid-template-columns: repeat(3, 75px) 30px 75px;
    }

    .navbar__link {
      font-size: 0.9rem;
    }

  }

  .main {

    .hero__content {
      grid-column: 3 / 11;
      grid-row-gap: 18px;
    }

    .hero__title {
      font-size: 3rem;
    }

    .hero__button {
      font-size: 0.8rem;
      padding: 10px 14px;
    }

    .hero__img {
      grid-column: 12 / end;
    }

  }

  .square {
    height: 35vw;
  }


 }

@media (min-width: 1200px) {
  .square {
    height: 400px;
  }
}